<div>
	<table class="table table-striped">
	    <thead>
	        <tr>
	            <th>زمان</th>
	            <th>برنامه</th>
	        </tr>
	    </thead>
	    <tbody>
			{{~it.array :value:index}}
			<tr>
		    	<td>{{=value.time}}</td>
		    	<td>
						<p class="h4 program-title">{{=value.title}}</p>
					  <p class="h5 program-description">{{=value.description}}</p>
		    	</td>
	    	</tr>
			{{~}}
	    </tbody>
	</table>
</div>
