{
  "RamadanRadio": {
    "Test": false,
    "RamadanStartDate": "2017-05-27",
    "PreProgram": {
      "Slots": ["PP1", "PP2"],
      "Filler": ["Filler"]
    },
    "Program": {
      "Slots": ["P1", "P2"]
    },
    "Media": {
      "BaseDir": "path-to-media-dir",
      "PP1": [
        {
          "path":"relative-to-media-base-dir",
          "description": "PP1-1"
        },
        {
          "path":"relative-to-media-base-dir",
          "description": "PP1-2"
        }
      ],
      "PP2": [
        {
          "path": "relative-to-media-base-dir",
          "description": "PP2"
        }
      ],
      "P1": [
        {
          "path": "relative-to-media-base-dir",
          "description": "P1-1"
        },
        {
          "path": "relative-to-media-base-dir",
          "description": "P1-2"
        }
      ],
      "P2": [
        {
          "path": "relative-to-media-base-dir",
          "description": "P2"
        }
      ],
      "Filler": [
        {
          "path": "backgroud.mp3"
        }
      ]
    }  
  },
  "Messaging": {
    "Google": {
      "ClientId": "YOUR_CLIENT_ID",
      "ClientSecret": "YOUR_SECRET_ID",
      "RefreshToken": "YOUR_REFERESH_TOKEN",
      "CalendarName": "YOUR_CALENDAR_NAME"
    },
    "Telegram": {
      "ChatIdProvider": "static",
      "ChatIds": ["CHAT_ID_TO_RECEIVE_NOTIFICATIONS"]
    }
  },
  "Events": {
    "Latitude": YOUR_LAT,
    "Longitude": YOUR_LONG,
    "Timezone": "TIMEZONE",
    "CalculationMethod": FROM_1_TO_7
  }
}